no.nav:
   dittnav:
      pleiepenger-sykt-barn:
         beskjed:
            grupperingsId: pleiepenger-sykt-barn
            tekst: 'Vi har mottatt din søknad om pleiepenger. Klikk på linken for mer info.'
            link: https://sif-innsyn.dev.nav.no/familie/sykdom-i-familien/soknad/innsyn
            dagerSynlig: 7

management:
   endpoints:
      web:
         exposure:
            include: '*'
   endpoint:
      health:
         show-details: always

server:
   port: # Settes av miljøvariabel.
spring:
   cloud:
      vault:
         database:
            role: # Settes av miljøvariabel.
   output:
    ansi:
      enabled: always
   application:
      name: sif-innsyn-api
      admin:
         enabled: true
   datasource:
      url: # Settes av miljøvariabel.
      password: # Settes av miljøvariabel.
      username: # Settes av miljøvariabel.
   jpa:
      show-sql: true
      properties:
         hibernate: format_sql=true
      hibernate:
         ddl-auto: create-drop
   flyway:
      baselineOnMigrate: true
      enabled: true
   http:
      log-request-details: true
