no.nav:
  dittnav:
    pleiepenger-sykt-barn:
      beskjed:
        tekst: 'Vi har mottatt søknaden din om pleiepenger.'
        link: https://sif-innsyn.dev.nav.no/familie/sykdom-i-familien/soknad/innsyn/dine-pleiepenger
        dagerSynlig: 7

    pleiepenger-sykt-barn-endringsmelding:
      beskjed:
        tekst: 'Vi har mottatt endringsmelding for pleiepenger'
        link: https://sif-innsyn.dev.nav.no/familie/sykdom-i-familien/soknad/innsyn/dine-pleiepenger
        dagerSynlig: 7

    k9-ettersending-pp:
      beskjed:
        tekst: 'Vi har mottatt din ettersendelse til pleiepenger.'
        dagerSynlig: 7

    k9-ettersending-oms:
      beskjed:
        tekst: 'Vi har mottatt din ettersendelse til omsorgspenger.'
        dagerSynlig: 7

  apigw:
    sts-apikey: ${STS_APIKEY} # kubectl secret som miljøvariabel i pod

  gateways:
    k9-selvbetjening-oppslag: # Settes i nais/<cluster>.json
    saf-base-url: # Settes i nais/<cluster>.json
    k9-sak-innsyn-api-base-url: # Settes i nais/<cluster>.json
    saf-selvbetjening-base-url: # Settes i nais/<cluster>.json
    sts:
      url: # Settes i nais/dev-gcp.json
      username: ${STS_USERNAME} # kubectl secret som miljøvariabel i pod
      password: ${STS_PASSWORD} # kubectl secret som miljøvariabel i pod

  security:
    cors:
      allowed-origins: # Settes i nais/<cluster>.json
    jwt:
      issuer:
        loginservice:
          cookie_name: # Settes inais/<cluster>.json

  metrics:
    interval: 60_000

topic:
  # Bryter betegner av/på funksjon for kafkalytter. True (på), False (av).
  listener:
    # topic.listener.pp-sykt-barn
    pp-sykt-barn:
      id: pp-sykt-barn-listener
      navn: dusseldorf.privat-pleiepengesoknad-cleanup
      bryter: true
      dry-run: false

    # topic.listener.pp-sykt-barn-endringsmelding
    pp-sykt-barn-endringsmelding:
      id: pp-sykt-barn-endringsmelding-listener
      navn: dusseldorf.privat-endringsmelding-pleiepenger-sykt-barn-cleanup
      bryter: true
      dry-run: false

    # topic.listener.k9-ettersending
    k9-ettersending:
      id: k9-ettersending-listener
      navn: dusseldorf.privat-k9-ettersending-cleanup
      bryter: true
      dry-run: false

    # topic.listener.dok-journalfoering-v1
    dok-journalfoering-v1:
      id: dok-journalfoering-v1-listener
      navn: teamdokumenthandtering.aapen-dok-journalfoering
      bryter: true
      dry-run: false

application-ingress: ${APPLICATION_INGRESS}

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus

spring:
  application:
    name: # Settes i nais/<cluster>.json

  rest:
    retry:
      multiplier: 2
      initialDelay: 1000
      maxDelay: 4000
      maxAttempts: 3

  flyway:
    baselineOnMigrate: true
    enabled: true
    clean-on-validation-error: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
  datasource:
    hikari:
      connection-test-query: SELECT 1
      maximum-pool-size: 2
      connection-timeout: 1000
    url: jdbc:postgresql://${NAIS_DATABASE_SIF_INNSYN_API_SIF_INNSYN_DB_HOST}:${NAIS_DATABASE_SIF_INNSYN_API_SIF_INNSYN_DB_PORT}/${NAIS_DATABASE_SIF_INNSYN_API_SIF_INNSYN_DB_DATABASE}
    username: ${NAIS_DATABASE_SIF_INNSYN_API_SIF_INNSYN_DB_USERNAME}
    password: ${NAIS_DATABASE_SIF_INNSYN_API_SIF_INNSYN_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

kafka:
  aiven:
    servers: ${KAFKA_BROKERS}
    consumer:
      enable-auto-commit: false
      group-id: ${spring.application.name}
      auto-offset-reset: # overstyres fra nais/<cluster>.json
      isolation-level: read_committed
      retry-interval: 60_000 # Egendefinert property
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      schemaRegistryUrl: ${KAFKA_SCHEMA_REGISTRY}

    producer:
      client-id: ${HOSTNAME}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      transaction-id-prefix: .tx-
      retries: 3
