topic:
  # Bryter betegner av/på funksjon for kafkalytter. True (på), False (av).
  listener:
    pp-sykt-barn:
      bryter: false
    omp-utbetaling-arbeidstaker:
      bryter: false
    omp-utbetaling-snf:
      bryter: false
    omp-utvidet-rett:
      bryter: false

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    health:
      show-details: never

spring:
    mvc:
      log-request-details: false

  kafka:
    properties:
      security:
        protocol: # Settes i nais/<cluster>.json
      sasl:
        mechanism: PLAIN
        jaas:
          config: org.apache.kafka.common.security.plain.PlainLoginModule required username=${sts.username} password=${sts.password};

    producer:
      ssl:
        trust-store-location: file:${javax.net.ssl.trustStore}
        trust-store-password: ${javax.net.ssl.trustStorePassword}

    consumer:
      ssl:
        trust-store-location: file:${javax.net.ssl.trustStore}
        trust-store-password: ${javax.net.ssl.trustStorePassword}

    datasource:
      jpa:
        show-sql: false
        hibernate:
          ddl-auto: none
